.container {
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  align-items: center;
  gap: 1rem;
}

.container > section {
  display: block;
}

.title {
  font-family: var(--font-mono);
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
}
