.curved-text-container {
  width: 300px;
  height: 300px;
}

.curved-text-container text {
  font-size: 16px;
  font-weight: bold;
}

.curved-text-container path {
  fill: transparent;
  stroke: black; /* Cor do texto */
}
